# Env files
**/*.env

# Editor/IDE
# .idea/
.vscode/

# Git folders
.git*
!.github

# Docusaurus
.docusaurus
node_modules

# Dev folders
.dev
dev-env.sh
*.local.*

# Editor config
.editorconfig

# Markdown files
**/*.md

!LICENSE

# Include data/
!data/*

# Include source files
!*.go