# Ignore all
*

# env file
*.env

# Git folders
.git*
.github

# Dev folders
.dev
.devenv

# Ignore yml files
*.yaml
*.yml

# Markdown files
*.md

# Include data/
!data/*

# Ignore source files
*.go
go.mod
go.sum

# Include build
!app
!dist/*