# Env files
**/*.env

# Editor/IDE
# .idea/
.vscode/

# Git folders
.git*
!.github

# Docusaurus
.docusaurus
node_modules
api
api_versioned_*

# Dev folders
.dev
*.local.*

# Editor config
.editorconfig