name: Build & Push Image

on:
  release:
    types: [published]

jobs:
  check:
    name: Check requirements
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.check.outputs.continue }}

    steps:
      - if: github.event_name == 'release'
        name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - if: github.event_name == 'release'
        name: Fail if release not @main
        id: check
        run: |
          set -euo pipefail

          TAG="${GITHUB_REF#refs/tags/}"

          git fetch origin main:refs/remotes/origin/main

          BRANCHES=$(git branch -r --contains "$TAG" | sed 's|origin/||')

          if ! echo "$BRANCHES" | grep -qx "main"; then
            echo "Detected non-main release. Skipping..."
            echo "continue=false" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          echo "continue=true" >> "$GITHUB_OUTPUT"

  update:
    needs: check
    if: needs.check.outputs.continue == 'true'
    uses: codeshelldev/gh-actions/.github/workflows/docker-image-go.yml@main
    name: Stable Image
    with:
      registry: ghcr.io
    secrets:
      GH_PCKG_TOKEN: ${{ secrets.GH_PCKG_TOKEN }}
