name: Deploy Documentation

on:
  push:
    branches:
      - docs
    paths-ignore:
      - .git*/**
    paths:
      - "**/*.md"
      - src/**
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check requirements
    outputs:
      deploy: ${{ steps.collect.outputs.deploy }}
    steps:
      - if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/docs'
        name: Detect manual run
        run: |
          echo "Detected manual run."
          echo "deploy=true" > deploy.txt

      - if: github.event_name == 'push'
        name: Checkout repository
        uses: actions/checkout@v4

      - if: github.event_name == 'push'
        name: Detect PR merge
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euo pipefail

          PR_COUNT=$(gh pr list \
            --state merged \
            --base docs \
            --search "${GITHUB_SHA}" \
            --json number \
            --jq length)

          if [ "$PR_COUNT" -eq 0 ]; then
            echo "Commit $GITHUB_SHA is not from a merged PR to 'docs'. Exiting."
            echo "deploy=false" > deploy.txt
            exit 0
          fi

          echo "Commit $GITHUB_SHA is from a merged PR."
          echo "deploy=true" > deploy.txt

      - name: Output deploy value
        id: collect
        run: |
          source deploy.txt
          echo "deploy=$deploy" >> "$GITHUB_OUTPUT"
          echo "Got deploy=$deploy"

  docs:
    needs: check
    if: needs.check.outputs.deploy == 'true'
    uses: codeshelldev/gh-actions/.github/workflows/docs-deploy.yml@main
    name: Deploy
    with:
      branch: docs
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
