name: Cleanup Untagged Images

on:
  workflow_run:
    workflows: ["Build & Push Image"]
    branches:
      - main
    types:
      - completed
  workflow_dispatch:

jobs:
  update:
    uses: codeshelldev/gh-actions/.github/workflows/image-cleanup.yml@main
    name: Untagged Images
    with:
      registry: ghcr.io
    secrets:
      GH_PCKG_TOKEN: ${{ secrets.GH_PCKG_TOKEN }}
